.nutrients-section {
    font-size: 0.7rem;
    color: #373737;
    margin-bottom: 3rem;
}

.table-nutrient {
    margin-bottom: 0;
}

.table-nutrient td {
    padding: 0.30rem;
    border-top: 0.05rem solid #373737;
}

.table-data-nutrient-label {
    text-align: left;
}

.table-data-value {
    text-align: right;
}

.nutrient-regular {
    padding-left: 1.0rem !important;
}

.nutrient-subcomponent {
    padding-left: 1.50rem !important;
    font-style: italic;
}

.nutrient-collapsed {
    visibility: collapse;
    display: none;
}

.nutrient-visible {
    visibility: visible;
}

.btn-show-details {
    padding: 0.25rem;
    font-size: 0.75rem;
    color: #373737;
    text-align: right;
    float: right;
    font-style: italic;
    text-decoration: underline;
}

.btn-show-details:focus,.btn-show-details:active,.btn-show-details:hover {
    text-decoration: underline;
    outline: none !important;
    box-shadow: none;
}

