.btn-nutrient-info {
    padding: 0;
    margin: 0 0 0 0.2rem;
    color: #373737;
    font-size: 0.62rem;
}

.btn-nutrient-info svg {
    vertical-align: unset;
    margin-left: 0rem;
}

.btn-nutrient-info:focus,.btn-nutrient-info:active,.btn-nutrient-info:hover {
    text-decoration: underline;
    outline: none !important;
    box-shadow: none;
}

.nutrient-popover {
    max-width: 90%;
}

.nutrient-popover-content {
    margin-bottom: 0 !important;
}

.benefit-text {
    font-size: 0.7rem;
    color: #373737;
    margin-right: 1rem;
}

.details-icon {
    margin-left: 0.60rem;
    color: #373737;
}

.external-url-icon {
    margin-left: 0.80rem;
    color: #373737;
}

.benefit-icon {
    margin-right: 0.30rem;
}