.typeahead {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.typeahead input {
    border-color: black;
    color: black;
    text-indent: 0.2rem;
}

.typeahead::placeholder {
    color: #373737;
    opacity: 1;
}

.dropdown-item {
    font-size:0.9rem;
    font-weight: bold;
    color: black;
}

