.nutrients-section {
    margin-bottom: 4rem;
}

.nutrients-table {
    margin-bottom: 0.25rem;
}

.table-data-nutrient {
    font-family: "Helvetica Neue", serif;
    font-size: 0.75rem;
    text-align: left;
}

.table-data-value {
    font-family: "Helvetica Neue", serif;
    font-size: 0.75rem;
    text-align: right;
}

.nutrient-macronutrient {
    /*font-weight: bold !important;*/
}

.nutrient-regular {
    padding-left: 1.0rem !important;
    color: #373737;
}

.nutrient-subcomponent {
    padding-left: 1.50rem !important;
    color: #373737;
    font-style: italic;
}

.nutrient-collapsed {
    visibility: collapse;
    display: none;
}

.nutrient-visible {
    visibility: visible;
}

.show-more {
    font-family: "Helvetica Neue", serif;
    font-size: 0.75rem;
    color: #373737;
    text-align: right;
    float: right;
    font-style: italic;
    text-decoration: underline;
}

.btn:hover {
    color: #373737 !important;
    text-decoration: underline;
}

