.nutrients-table {
    margin-bottom: 1.75rem;
}

.table-data-nutrient {
    font-family: "Helvetica Neue", serif;
    font-size: 0.75rem;
    text-align: left;
}

.table-data-value {
    font-family: "Helvetica Neue", serif;
    font-size: 0.75rem;
    text-align: right;
}