[Unit]
Description=Running food-information-ui
After=network-online.target
Requires=network-online.target

[Service]
User=root
Type=simple
ExecStart=/deployment/food-information-ui/server.sh
RestartSec=10
Restart=always

[Install]
WantedBy=default.target
