.serving-size-form {
    border-color: black;
    width: 12.5rem;
    margin-top: 0.45rem;
    margin-bottom: 0.55rem;
    float: left;
}

.serving-size-form .form-group {
    margin-bottom: 0;
}

.serving-size-select {
    border-color: black;
    color: black;
    text-indent: 0.2rem;
}