p {
    margin: 0;
}

.nutrition-facts-section th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 0.05rem solid black;
    white-space: nowrap;
}

.nutrition-facts-section {
    background-color:white;
    border: .15em solid black;
    width: 99%;
    padding: 0 .3rem .1rem .3rem;
    margin-bottom: 2.0rem;
    float: left;
}

.nutrition-facts-header-section {
    padding: 0 0 0.2rem 0;
    margin: 0 0 0.0rem 0;
    border-bottom: 0.9rem solid black;
}

.nutrition-facts-title {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 0;
    border-bottom: .05rem solid black;
}

.nutrition-facts-servings-per-container {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.nutrition-facts-serving-size {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.nutrition-facts-serving-size-value {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: right;
    margin: 0;
    float: right;
}

.nutrition-facts-calorie-section {
    margin: 0;
    border-bottom: 0.2rem solid black;
}

.nutrition-facts-amount-per-serving {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
    margin-top: 0.4rem;
}

.nutrition-facts-calories {
    font-family: 'Neue Montreal', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: left;
    float: left;
    margin: 0.05rem;
}

.nutrition-facts-calories-value {
    font-family: 'Neue Montreal', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: right;
    margin: 0.05rem;
}

.nutrition-facts-table {
    width: 100%;
}

body {
font-size: small;
line-height: 1.3;
}

.nutrition-facts-daily-value-text {
    text-align: right;
    font-weight: bold;
    font-size: 1em;
}

.nutrition-facts-bold-label {
    font-weight: bold;
    text-align:left;
}

.nutrition-facts-percentage-value {
    font-weight: bold;
    text-align:right;
}

.nutrition-facts-empty-cell {
    width: 1rem;
    border-top: 0;
}