body {
    font-size: small;
    line-height: 1.3;
}

p {
    margin: 0;
}

th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
}

.nutrition-facts-section {
    border: .05em solid black;
    width: 97%;
    padding: 0 .4rem .4rem 0.4rem;
    margin-top: 1rem;
    margin-left: 0.2rem;
    float: left;
}

.nutrition-facts-header-section {
    padding: 0 0 0.2rem 0;
    margin: 0 0 0.0rem 0;
    border-bottom: 0.7rem solid black;
}

.nutrition-facts-title {
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    border-bottom: 0.10rem solid black;
}

.nutrition-facts-servings-per-container {
    font-family: "Helvetica Neue", serif;
    font-size: 1.5rem;
    font-weight: bold;
    transform: scale(1, 0.95);
    text-align: left;
    margin: 0;
}

.nutrition-facts-serving-size {
    font-family: "Helvetica Neue", serif;
    font-size: 0.95rem;
    text-align: left;
    margin: 0;
}

.nutrition-facts-calorie-section {
    margin: 0;
    border-bottom: 0.2rem solid black;
}

.nutrition-facts-amount-per-serving {
    font-family: "Helvetica Neue", serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

.nutrition-facts-calories {
    font-family: "Helvetica Neue", serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: left;
    float: left;
    margin: 0.05rem;
}

.nutrition-facts-calories-value {
    font-family: "Helvetica Neue", serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: right;
    margin: 0.05rem;
}

.nutrition-facts-table {
    width: 100%;
}

.nutrition-facts-daily-value-text {
    font-family: "Helvetica Neue", serif;
    text-align: right;
    font-weight: bold;
    font-size: 1em;
}

.nutrition-facts-percentage-value {
    font-weight: bold;
    text-align:right;
}

.nutrition-facts-empty-cell {
    width: 1rem;
    border-top: 0;
}