.typeahead {
    margin-bottom: 1.5rem;
}

.form-control {
    border-color: black;
    color: black;
    text-indent: 0.2rem;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #373737;
    opacity: 1;
}