.App {
    text-align: center;
}

.table {
    font-size: 10pt;
    margin-top: 1rem;
    margin-bottom: 2.5em;
}

.list-group {
  font-size: 10pt;
  margin-left: 1em;
  margin-bottom: 2em;
}

hr {
  margin-top: 2em;
}

input {
    width: 85%;
    text-indent: 10px;
}

.spinner-border {
    margin-left: 0.50em;
    margin-top: 0.40em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-right {
    text-align: right;
}

.nutrient-table-header {
    font-family: "Helvetica Neue", serif;
    font-size: 1.5rem;
    font-weight: bold;
    transform: scale(1, 0.95);
    text-align: left;
}