@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Light.woff2') format('woff2'),
    url('./fonts/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('./fonts/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-BoldItalic.woff2') format('woff2'),
    url('./fonts/NeueMontreal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-LightItalic.woff2') format('woff2'),
    url('./fonts/NeueMontreal-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('./fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('./fonts/NeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Neue Montreal', sans-serif;
}

hr {
    margin: 1rem;
}

input {
    width: 85%;
    text-indent: 0.2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    border-color: black;
    color: black;
    text-indent: 0.2rem;
}

.h1 {
    font-family: 'Neue Montreal', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
    text-align: left;
    margin-bottom: 0.75rem;
}

.h2 {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 0.75rem;
}

.h3 {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 0.75rem;
}

.h4 {
    font-weight: normal;
    font-style: normal;
    font-size: 1.0rem;
    text-align: left;
    margin-bottom: 0.75rem;
}

.section-title {
    font-size: 1.0rem !important;
    font-weight: bold !important;
    text-align: left !important;
}

.highlighted {
    /*background-color: #E7E7E7;*/
    /*border-radius: 0.25rem;*/
    /*padding: 0.15rem 0.20rem 0.15rem 0.20rem;*/
}

.navbar-colored-navbar {
    color:white;
    background-color: #202020;
    margin-bottom: 2rem;
}

.navbar-colored-navbar a {
    color: black;
}

.slightly-highlighted {
    background-color: #ff3f3f;
}

.header {
    float:left;
    display: inline !important;
    margin-right: 1.2rem;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}