@font-face {
    font-family: 'Neue Montreal';
    src: url('resources/fonts/NeueMontreal-Light.woff2') format('woff2'),
    url('resources/fonts/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('resources/fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('resources/fonts/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('resources/fonts/NeueMontreal-BoldItalic.woff2') format('woff2'),
    url('resources/fonts/NeueMontreal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('resources/fonts/NeueMontreal-LightItalic.woff2') format('woff2'),
    url('resources/fonts/NeueMontreal-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('resources/fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('resources/fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('resources/fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('resources/fonts/NeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Neue Montreal', sans-serif;
}

hr {
    margin: 1rem;
}

input {
    width: 85%;
    text-indent: 0.2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    border-color: black;
    color: black;
    text-indent: 0.2rem;
}

h1 {
    font-family: 'Neue Montreal', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    margin: 0;
}

h2 {
    font-family: 'Neue Montreal', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
}

h4 {
    font-weight: normal;
    font-style: normal;
    font-size: 1.0rem;
    text-align: left;
    margin: 0;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
    outline: none !important;
    box-shadow: none;
}

.underline {
    text-decoration: underline;
}

.section-title {
    font-size: 1.0rem !important;
    font-weight: bold !important;
    text-align: left !important;
}

.row-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-separator {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.navbar-colored-navbar {
    color: white;
    background-color: #202020;
    margin-bottom: 2.25rem;
}

.navbar-colored-navbar a {
    color: black;
}

.slightly-highlighted {
    background-color: #ff3f3f;
}

.header {
    float: left;
    display: inline !important;
    margin-right: 1.2rem;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}